.welcome__contents-box {
    display: flex;
    align-items: flex-start;
    gap: .8rem;
    margin: 5rem 1rem 1rem;
}

.close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    display: grid;
    place-items: center;
    color: var(--clr-primary-5);
    cursor: pointer;
}

.close-modal-btn:hover {
    color: var(--clr-primary-1);
    background-color: rgba(0, 0, 0, 0.04);
}

.fieldset__title {
    margin-bottom: 1rem;
    text-align: initial;
    letter-spacing: 0;
}

.fieldset__title h3 {
    letter-spacing: 0;
}

.choice__lists {
    margin-bottom: 8px;
    margin-right: 0px;
    width: 100%;
}

.choice-list {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    border-radius: 4px;
    background-color: rgba(67, 126, 147, 0.1);
    box-shadow: rgba(67, 126, 147, 0.6) 0px 0px 0px 1px inset;
    color: rgb(67, 126, 147);
    max-width: 100%;
    min-width: 75px;
    min-height: 40px;
    outline: 0px;
    padding: 4px;
    transition-duration: 0.1s;
    transition-property: background-color,
        color,
        border-color,
        opacity,
        box-shadow;
    transition-timing-function: ease-out;
    width: 100%;
    cursor: pointer;
}

.choice__btn {
    display: flex;
    align-self: flex-start;
    margin: 4px 8px 0px 4px;
}

.choice__btn-key {
    position: relative;
    width: 24px;
    min-width: 22px;
    height: 24px;
    border-radius: 2px;
    font-size: 12px;
    line-height: 16px;
    font-family: sans-serif;
    border-color: rgba(67, 126, 147, 0.6);
    background-color: rgba(242, 238, 233, 0.8);
    color: rgb(67, 126, 147);
}

.key-letter {
    position: absolute;
    right: 0px;
    height: 24px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    border-color: rgba(67, 126, 147, 0.6);
    background-color: rgb(242, 238, 233);
}

.key-letter span {
    width: 22px;
    height: 22px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: 700;
    -webkit-box-pack: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.choice__contents {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex: 1 1 0%;
    min-width: 75px;
    text-align: left;
}

.choice__contents-text {
    margin: 0px;
    max-width: 100%;
    width: inherit;
    font-weight: unset;
    font-size: 1rem
}

.choice__checkbox {
    margin-right: -4px;
    flex-shrink: 0;
    padding: 0px 12px 0px 20px;
    opacity: 0;
    transition: var(--transition);
}

.choice__checkbox span {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}

.choice__btn-container {
    margin-top: 1.8rem;
}

.choice__btn-submit {
    opacity: 0;
    transition: var(--transition);
}

.refradio {
    color: rgb(242, 238, 233);
    background-color: rgb(67, 126, 147);
    border-color: rgba(67, 126, 147, 0.6);
}

.refcheck {
    opacity: 1;
}